{% extends "layout.html" %}

{% block title %}
    Travel Secrets
{% endblock %}

{% block main %}
<h2 class="h2">Travel Secrets</h2>
<a type="button" class="btn btn-primary" href="/blog/create">Create new</a>
<br><br>
{% for blog in blogs %}
    <div class="container info_box" style="margin-top:15px">
        <div class="row">
            <div class="col-sm-3">
                <p class="blog_title">{{ blog.title }}</p>
            </div>
            <div class="col-sm-7">
            </div>
            <div class="col-sm-2 blog_title">
                {% if blog.link != None %}
                    <form action="/home?dest={{ blog.link }}" method="post">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">
                              {{ blog.link }}</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        {% if blog.why1 %}
            <div class="row">
                <div class="col-sm-2">
                    <p class="blog_p">Why?</p>
                </div>
                <div class="col-sm-10 blog_p">
                    <ul>
                        <li>{{ blog.why1 }}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if blog.why2 %}
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10 blog_p">
                    <ul>
                        <li>{{ blog.why2 }}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if blog.why3 %}
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10 blog_p">
                    <ul>
                        <li>{{ blog.why3 }}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <p class="blog_p">{{ blog.text }}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <p class="blog_p">Author: {{ blog.users.name }}</p>
            </div>
        </div>
        <br>
        {% if "delete:master" in permi %}
            <div class="row">
                <div class="col-sm-2">
                    <a class="edit-blog" href="blog/{{ blog.id }}/edit">
                        Edit</a>
                </div>
                <div class="col-sm-8">
                </div>
                <div class="col-sm-2">
                    <button class="delete-blog" data-id="{{ blog.id }}">
                            &cross;</button>
                </div>
            </div>
        {% elif blog.user_id == id %}
            <div class="row">
                <div class="col-sm-2">
                    <a class="edit-blog" href="blog/{{ blog.id }}/edit-own">
                        Edit</a>
                </div>
                <div class="col-sm-8">
                </div>
                <div class="col-sm-2">
                    <button class="delete-blog-own"
                        data-id="{{ blog.id }}">&cross;</button>
                </div>
            </div>
        {% endif %}
    </div>
    <br>

{% endfor %}
<br><br>

<script type="text/javascript">
    // Delete function Director
    const blog_del_but = document.querySelectorAll('.delete-blog');
    for (let i=0; i < blog_del_but.length; i++) {
        const del = blog_del_but[i];
        del.onclick = function(e) {
            console.log('blog delete function', e);
            const blog_id = e.target.dataset['id'];
            fetch('/blog/' + blog_id + '/delete', {
                method: 'DELETE'
            })
            .then(function() {
                const item = e.target.parentElement;
                item.remove();
                window.location.reload(true);
            })
            .catch(function(e) {
                console.error(e);
            });
        }
    }
    // Delete function Manager
    const blog_del_but_own = document.querySelectorAll('.delete-blog-own');
    for (let i=0; i < blog_del_but_own.length; i++) {
        const del = blog_del_but_own[i];
        del.onclick = function(e) {
            console.log('blog delete function', e);
            const blog_id = e.target.dataset['id'];
            fetch('/blog/' + blog_id + '/delete-own', {
                method: 'DELETE'
            })
            .then(function() {
                const item = e.target.parentElement;
                item.remove();
                window.location.reload(true);
            })
            .catch(function(e) {
                console.error(e);
            });
        }
    }
</script>
{% endblock %}
