{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="container">
    <table class="table table-hover" style="background-color: white">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Number of searches</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row[0].title() }}</td>
                    <td>{{ row[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
<br><br>
{% endblock %}
