{% extends "layout.html" %}

{% block title %}
   Home
{% endblock %}

{% block main %}
    <!-- Error message -->
    <script type="text/javascript">
        if ({{ number }} == 1) {
            alert('{{message}}');
        }
    </script>

    <!--Travel links for user submitted travel destination COUNTRY-->
    <h2 class='h2'>Your Destination | Dein Reiseziel?</h2>
    <div class="container">
        {% if session.role or session.user_email %}
        <form class="form-inline" action="/home" method="post">
        {% else %}
        <form class="form-inline" action="/home_public" method="post">
        {% endif %}
            <input autocomplete="off" class="form-control mb-2 mr-sm-2 col-sm-6"
                autofocus name="destination" placeholder="Country or City"
                type="text">
            <select class="form-control mb-2 mr-sm-2 col-sm-2"
                    autofocus name="language">
                {% for option in options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>

            <div>
                <button class="btn btn-primary mb-2"
                        type="submit">GO</button>
            </div>
        </form>
    </div>
    <br><br><br>

    <!-- Travel Secrets Blog -->
    {% if session.role %}
    <h2 class="form-row align-items-center center_div h2">Travel Secrets</h2>
    <a class="form-row align-items-center center_div" href="/blog">
        <i class="fas fa-globe-europe fa-10x" style="color: white"></i>
    </a>
    {% else %}
    <h2 class="form-row align-items-center center_div h2">Travel Secrets</h2>
    <a class="form-row align-items-center center_div" href="/blog/user">
        <i class="fas fa-globe-europe fa-10x" style="color: white"></i>
    </a>
    {% endif %}
    <br><br><br>

    <!-- Travel location idea for warm weather this month -->
    <h2 class='h2'>Jetzt ins Warme?</h2>
    <a class="form-row center_div align-items-center"
        href="{{ go_warm }}" target="_blank">
        <img class="index_img" src="static/warm_weather.jpg" alt="warm_weather"
            loading="lazy">
    </a>

{% endblock %}
