{% extends "layout.html" %}

{% block title %}
   Home
{% endblock %}

{% block main %}
    <!-- Error message -->
    <script type="text/javascript">
        if ({{ number }} == 1) {
            alert('{{message}}');
        }
    </script>

    <!--Travel links for user submitted travel destination COUNTRY-->
    <h2 class='h2'>Your Destination | Dein Reiseziel?</h2>
    <form action="/home" method="post">
        <div class="form-row align-items-center center_div">
            <div class="col-sm-8 my-1">
                <input autocomplete="off" autofocus class="form-control"
                name="destination" placeholder="Country(DE/EN) or City(EN)" type="text">
            </div>
            <div class="col-auto my-1">
                <button class="btn btn-primary" type="submit">GO</button>
            </div>
        </div>
    </form>
    <br><br><br>

    <!-- Travel Secrets Blog -->
    {% if session.role %}
    <h2 class="form-row align-items-center center_div h2">Travel Secrets</h2>
    <a class="form-row align-items-center center_div" href="/blog">
        <i class="fas fa-globe-europe fa-10x" style="color: white"></i>
    </a>
    {% else %}
    <h2 class="form-row align-items-center center_div h2">Travel Secrets</h2>
    <a class="form-row align-items-center center_div" href="/blog/user">
        <i class="fas fa-globe-europe fa-10x" style="color: white"></i>
    </a>
    {% endif %}
    <br><br><br>

    <!-- Travel location idea for warm weather this month -->
    <h2 class='h2'>Jetzt ins Warme?</h2>
    <a class="form-row center_div align-items-center"
        href="{{ go_warm }}" target="_blank">
        <img class="index_img" src="static/warm_weather.jpg" alt="warm_weather"
            loading="lazy">
    </a>

{% endblock %}
